<h3>Course Listing</h3>

<ul>
    <li>Course Code: CS101</li>
    <li>Name : Computer science</li>
    <li>Description : This deals about the computer science</li>
</ul>
<ul>
    <li>Course Code: CS112</li>
    <li>Name : MCA</li>
    <li>Description : This deals about the post graduate in computer science</li>
</ul>